<ion-content>
<div class="gflex">
  <ion-card-header >
    <h2 class="header3">Hello!!</h2>
  </ion-card-header>

<form [formGroup]="websiteForm" novalidate (ngSubmit)="login()">
  <ion-card-content>
    <div class="input">
      <ion-col size="12">
        <input
          type="tel"
          class="custom-input-field"
          placeholder="Enter website name"
          formControlName="name"
          required
        />
      </ion-col>
    </div>
    <div class="input">
      <ion-col size="12">
        <input
          type="password"
          class="custom-input-field"
          placeholder="Enter website URL"
          formControlName="url"
          required
        />
      </ion-col>
    </div>
    <div class="center">
      <ion-button class="long-btn" type="submit">Submit</ion-button>
    </div>
  </ion-card-content>
</form>
</div>
</ion-content>
